@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins',sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/rad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;

    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img{
    width: 50px;
}

.logo{
    color: #fffDfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffDfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: rgb(31, 53, 255);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color:white;
    padding: 0 250px;
    margin-bottom: 25px;
}

.SobreSismos{
    padding: 100px 0;
    background-color: #fffDfc;
    position: relative;
}

.SobreSismos-content{
    text-align: center;
}

.SobreSismos-content h2{
    font-size: 55px;
    line-height: 70px;
    color:  black;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: gray;
    padding: 0 250px;
    margin-bottom: 35px;
}

.SobreSismos-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.SobreSismos-info{
    padding: 0 25px;
}

.SobreSismos-info img{
    width: 200px;
}

.SobreSismos-img{
    position: absolute;
    top: 0;
    right: 0;
}

.SobreSismos-info h3{
    color: black;
    font-size: 20px;
    margin-top: 15px;
}

.SobreSismos-info img{
    border-radius: 10px;
}

.SobreSismos-info p {
    max-width: 230px;
}

.Busquedas{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/rad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.Busquedas-content{
    text-align: center;
}

.Busquedas-content h2{
    font-size: 55px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.Busquedas table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5) ;
    color: white;
    text-transform: uppercase;
}

.Busquedas img{
    margin-bottom: 55px;
}

.Busquedas table, th, td {
    border: 1px solid rgb(255, 255, 255);
}

.Busquedas th, td {
    padding: 10px;
    text-align: left;
}

.Busquedas th {
    background-color: rgba(21, 153, 241, 0.5);
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: gray;
    margin: 25px 0 45px 0;
}

.Prevencion{
    padding: 100px 0;
    background-color: #fffDfc;
    position: relative;
}

.Prevencion-content{
    text-align: center;
}

.Prevencion-content h2{
    font-size: 55px;
    line-height: 70px;
    color:  black;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.Prevencion-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Prevencion-info{
    padding: 0 25px;
}

.Prevencion-info img{
    width: 200px;
}

.Prevencion-img{
    position: absolute;
    top: 0;
    right: 0;
}

.Prevencion-info h3{
    color: black;
    font-size: 20px;
    margin-top: 15px;
}

.Prevencion-info img{
    border-radius: 10px;
}

.Prevencion-info p {
    max-width: 230px;
}

.Footer{
    padding: 100px 0;
    background-color: #00204b;
    position: relative;
}

.Footer-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Footer-info{
    padding: 0 25px;
    color: white;
}

.Footer-info img{
    width: 200px;
}

.Footer-img{
    position: absolute;
    top: 0;
    right: 0;
}

.Footer-info h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
}

.Footer-info p {
    color: white;
    text-align: left;
}

#btn1{
    margin-top: 80px;
}
#btn2{
    margin-top: 80px;
}
#btn3{
    margin-top: 80px;
}
#btn4{
    margin-top: 80px;
}

.foot-medias .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #0353bb;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.foot-medias .button:hover{
    width: 200px;
}

.foot-medias .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

#btn1:nth-child(1):hover .icon{
    background: linear-gradient(rgb(7, 0, 135),rgb(30, 0, 255));
}
#btn2:nth-child(1):hover .icon{
    background: linear-gradient(rgb(244, 0, 195),rgb(255, 255, 3));
}
#btn3:nth-child(1):hover .icon{
    background: linear-gradient(rgb(80, 43, 232),rgb(84, 205, 246));
}
#btn4:nth-child(1):hover .icon{
    background: linear-gradient(rgb(0, 0, 0),rgb(45, 45, 45));
}

.foot-medias .button .icon i{
   font-size: 25px;
   line-height: 60px;
   transition: all 0.3s ease-out;
}

.foot-medias .button span{
    font-size: 20px;
    font-weight: 500; 
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

#NR1{
    position: absolute ;
}


@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #4a4b4d;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .SobreSismos{
        padding: 30px;
    }

    .SobreSismos-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .SobreSismos-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .SobreSismos-img{
        display: none;
    }

    .SobreSismos-info p {
        max-width: 1000px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .Busquedas{
        padding: 30px;
    }

    .Busquedas-content p{
        padding: 0;
    }

    .Busquedas-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .Busquedas-info{
        margin-bottom: 25px;
    }

    .Prevencion{
        padding: 30px;
    }

    .Prevencion-content h2{
        padding: 0;
    }

    .Prevencion-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .Prevencion-img{
        display: none;
    }

    .Prevencion-info p {
        max-width: 1000px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Footer{
        padding: 30px;
    }

    .Footer-content h2{
        padding: 0;
    }

    .Footer-content h3{
        padding: 0;
        text-align: center;
    }

    .Footer-group{
        flex-direction: column;
    }

    .Footer-info img{
        display: none;
    }

    .Footer-info p {
        max-width: 1000px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #NR1{
        position: relative;
    }
}
